<html>
  <head>
    <meta http-equiv = "Content-Type" content = "text/html; charset = iso-8859-1" />
    <meta http-equiv = "Content-Language" content = "en-us" />
    <title>Library Info System</title>
    <%= stylesheet_link_tag "style" %>
  </head>
  <body>
    <h1>Username</h1>
    <table>
      <tr>
        <th>
          <h1>ID</h1>
        </th>
        <th>
          <h1>Users</h1>
        </th>
      </tr>
      <tr>
        <td>
          <h2><%= @user.id %></h2>
        </td>
        <td>
          <h2><%= @user.name %></h2>
          Number of posts: <%= @user.posts_counter %>
        </td>
      </tr>
    </table>
    <div class="bio">
      <h3>Bio</h3>
      <p><%= @user.bio %></p>
      <img class="img-photo" src= <%= @user.photo %> alt="profile photo" />
    </div>
    <% @user.three_recent_post.each do |post| %>
      <div class="bio bio2">
        <div class="box1">
          <p># <%= post.id %>
            <p><%=link_to post.title, user_post_path(@user, post) %>
              <p><%= post.text %></p>
            </div>
            <div class="box2">
              <p>Comments: <%= post.comments_counter %> Likes: <%= post.likes_counter %></p>
            </div>
          </div>
        <% end %>
        <button class="button"><%= link_to 'See all posts', user_posts_path(@user)%></button>
      </body>
    </html>
