<html>
  <head>
    <meta http-equiv = "Content-Type" content = "text/html; charset = iso-8859-1" />
    <meta http-equiv = "Content-Language" content = "en-us" />
    <title>Library Info System</title>
    <%= stylesheet_link_tag "style" %>
  </head>
  <body>
    <h1>User Post</h1>
    <div class="cover">
      <div class="bio bio2 bio3">
        <div class="box1">
          <h3> Post #<%= @post.id %> by <span><%= @user.name %></span> </h3>
        </div>
        <div class="box2">
          <p>Comments: <%= @post.comments_counter %> Likes: <%= @post.likes_counter %></p>
        </div>
      </div>
      <p class="p-none"><%= @post.text %></p>
    </div>
    <% @post.comments.each do |comment| %>
      <div class="bio">
        <b><%= @user.name %></b>: <%= comment.text %>
      </div>
    <% end %>
  </body>
</html>
